body {
    text-align: left;
}

input[type=checkbox] {
    margin-left: 10px;
    margin-right: 10px;
}

input[type=button] {
    margin-top: 5px;
}

.deleteButton {
    margin-left: 20px;
}

#addFoldersButton {
    margin-right: 20px;
}